@using E_CommerceApp.ViewModel
@model ForgotPasswordVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- إضافة CSS هنا حسب الحاجة -->
</head>

<body>
    <div class="wrapper">
        <form method="post">
            <h2>Forgot Your Password?</h2>
            <div class="input-field">
                <label for="Email">Enter your email address</label>
                <input asp-for="Email" placeholder="Enter your email" required />
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>

