
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="heading">
               <h2>Add New Product</h2>
            </div>
         </div>
      </div>
      <div class="row mb-40">
         <div class="col-md-6 text-center mb-5 mb-lg-0">
            <form action="/Category/SaveAddCategory" method="POST" enctype="multipart/form-data">
               <!-- Product Name -->
               <div class="form-group">
                  <label for="productName">Category Name</label>
                  <input type="text" class="form-control" id="productName" name="Name" placeholder="Enter Category name" required>
               </div>

              
               <!-- Submit Button -->
               <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
         <div class="col-md-6 text-center mb-5 mb-lg-0">
            <img class="img-fluid" src="~/images/showcase/showcase-4.png" alt="Add Product Image">
         </div>
      </div>
   </div>



